.about{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 90vw;
    margin:10px auto;
    gap:50px;
}
.abt-data{
    width: 50vw;
    font-size:20px;
    text-align: justify;
    line-height: 1.6;
}
@media(max-width:1124px) {
    .abt-data{
        width: 85vw;
    }
}